html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

hr {
	display: block;
    border: 0;
    border-top: 1.5px solid !important;
    border-color: white !important;
    margin: 1em 0;
    padding: 0;
    height: 10px !important;
}